@media only screen and (max-width: 600px) {


}

@media only screen and (min-width: 1200px) {

      
      .search-card{
        background-color: white;
        min-height: 106px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
        display: flex;
        width: 95%;
        margin: 0 auto;
      }
      
      .search-card-section{ 
        z-index: 99 !important;
        border-radius: 10px;
        min-height: 156px;
        margin: 10px 10px 10px 10px !important;
        position: relative;
      }
      
      .search-card-form {
        padding: 0px 40px 0 40px;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0 !important;
      }
      
      .input-form{
        width: 208px;
      }
      
      select.opt option:hover {
        /* box-shadow: 0 0 10px 100px #1882A8 inset; */
        background-color: red !important;
      }
      
      .button-submit-search{
        margin-top: 13px;
      }
      
      .display-car-section{
        margin-top: 50px;
        padding: 0px 40px 0 40px;
        margin-bottom: 50px;
      }

      .container-car {
        margin: 50px 50px 50px 50px;
        width: 89vw;
        height: 618px;
      }

      .detail-mobil li {
        color: #8A8A8A;
        font-weight: 700;
      }
}